
/* index.css */

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --box-bg: #f1f1f1;
}

.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --box-bg: #2c2c2c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  font-family: 'Segoe UI', sans-serif;
}

.login-section {
  background-color: var(--box-bg);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

.hero-text {
  color: var(--text-color);
  transition: color 0.3s;
}
